<h1>Welcome</h1>

<p>
      In the millenia since the invention of the Internet, users have wondered can I vote online and will it be secure?
</p>
<p>We have answered this question with a resounding Yes and then No.<br><strong>Introducing D-Mock-Crazy, the first ever completely insecure online voting system.  </strong></p>
<p>Key Features</p>
<ol>
  <li>
    We thought about using state of the art 2048 bit military grade SHA salted encryption.<br> But then we asked ourselves, "why bother?".
  </li>
  <li>
    No paper trail, unless you want to use your own printer.
  </li>
  <li>
    Admins can delete candidates during an election
  </li>
</ol>
<p>
  <h3>Instructions</h3>
  Use the above links to <%= link_to "vote", vote_path %> (requires <%= link_to "user registration", new_user_registration_path %>) or <%= link_to "configure an election", candidates_path %> (requires <%= link_to "admin registration", new_admin_registration_path %>).
</p>