<%
   colors = [ "red", "blue", "purple", "orange", "green"]
%>

<script type="text/javascript">
    var chart;

    var chartData = [
        <% @candidates.each_with_index do |candidate, index| %>
        {
        candidate: "<%= candidate.name %>",
        votes: <%= candidate.votes.count %>,
        color: "<%= colors[index % (colors.length)] %>"
        }
        <% if candidate != @candidates.last %>,<% end  %>
        <% end %>
    ];

    AmCharts.ready(function () {
        // SERIAL CHART
        chart = new AmCharts.AmSerialChart();
        chart.dataProvider = chartData;
        chart.categoryField = "candidate";
        chart.startDuration = 1;

        // AXES
        // category
        var categoryAxis = chart.categoryAxis;
        categoryAxis.labelRotation = 45; // this line makes category values to be rotated
        categoryAxis.gridAlpha = 0;
        categoryAxis.fillAlpha = 1;
        categoryAxis.fillColor = "#FAFAFA";
        categoryAxis.gridPosition = "start";

        // value
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.dashLength = 5;
        valueAxis.title = "Total Votes"
        valueAxis.axisAlpha = 0;
        chart.addValueAxis(valueAxis);

        // GRAPH
        var graph = new AmCharts.AmGraph();
        graph.valueField = "votes";
        graph.colorField = "color";
        graph.balloonText = "[[category]]: [[value]]";
        graph.type = "column";
        graph.lineAlpha = 0;
        graph.fillAlphas = 1;
        chart.addGraph(graph);

        // WRITE
        chart.write("chart-div");
    });
</script>

<div id="chart-div"></div>