<%= form_tag("/vote/submit", :method => "post") do %>
    <% @candidates.each do |candidate| %>
        <div class="candidate_option">
          <%= label_tag candidate.name.camelcase %>
          <%= radio_button_tag("id", candidate.id) %>
        </div>
    <% end %>
    <br/>
    <div class="actions">
      <%= submit_tag "Vote" %>
    </div>
<% end %>
